<div ng-include="'/static/sections/view/header.html'"></div>

<div class="container">
    <div class="row">
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="#/home">Home</a><span class="divider">/</span></li>
                <li class="active">Dashboard</li>
                <li class="pull-right hidden-phone">
                    <a href="" data-ng-hide="editMode" data-ng-click="editMode = true;" class="button_red_small">
                        <span class="icon-edit"></span>Edit
                    </a>
                    <a href="" data-ng-show="editMode" data-ng-click="editMode = false;" class="button_red_small">
                        <span class="icon-save"></span>Save
                    </a>
                    <a href="" data-ng-show="editMode" data-ng-click="editMode = false;" class="button_red_small">
                        <span class="icon-remove"></span>Cancel
                    </a>
                </li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->   
        <aside class="span3 ">
            <div class="col-left">
                <h3>Browse Courses</h3>
                <ul class="submenu-col">
                    <li><a href="#" id="active">All Courses</a></li>
                    <li><a href="course-detail.html">Administration (10)</a></li>
                </ul>
            </div>
        </aside>

        <!-- =========================Start Col right section ============================= --> 
        <section class="span9 ">
            <div class="col-right">
                <div class="strip-courses">
                    <div class="title-course">
                        <h3>Administration <img src="assets/img/new.png"  alt="New"></h3>
                        <ul >
                            <li><i class="icon-calendar"></i> Start date: 24/06/13</li>
                            <li><i class="icon-bookmark"></i> ID: 012</li>
                        </ul>
                    </div>
                    <div class="description">
                        <p>An utinam reprimique duo, putant mandamus cu qui. Autem possim his cu, quodsi nominavi fabellas ut sit, mea ea ullum epicurei. Saepe tantas ocurreret duo ea, has facilisi vulputate an. Priaeque iuvaret nominati et, ad mea clita numquam. Maluisset dissentiunt et per, dico liber erroribus vis te. Dolor consul graecis nec ut, scripta eruditi scriptorem et nam.</p>
                        <ul>
                            <li><i class="icon-book"></i> 10 Lessons</li>
                            <li><i class="icon-reorder"></i> Level Intermediate</li>
                        </ul>
                        <a href="course-detail.html" class="button_medium button-align-2">Read more </a>
                    </div>
                </div><!-- end strip-->

            </div><!-- end col right-->
        </section>
    </div><!-- end row-->
</div> <!-- end container-->

