<div ng-include="'/static/sections/view/header.html'"></div>

<div class="container" ng-controller="coursesCtrl">
    <div class="row">
        <h1 class="span12">Courses & Colleges</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="#/home">Home</a><span class="divider">/</span></li>
                <li><a href="#/services/courses-&-colleges">Courses & Colleges</a><span class="divider">/</span></li>
                <li class="active">Courses</li>
            </ul>
        </div>
        <div class="span12">
            <div class="widget">
                <div class="form-group">
                    <form class="form-search form-inline">
                        <input type="text" class="input-medium form-control" placeholder="Search /Filter Box for other colleges" style="width: 92%;">
                        <button type="submit" class="button_medium" style="position:relative; top:2px;">Search</button>
                    </form>
                </div>
            </div>
        </div>

        <!-- =========================Start Col right section ============================= -->   
        <aside class="span3">
            <div class="col-left">
                <h3>Quick Links</h3>
                <ul class="submenu-col">
                    <li><a href="all-courses.html" id="active">About/Overview of the Course</a></li>
                    <li><a href="course-detail.html">Eligibility / Who can join?</a></li>
                    <li><a href="course-detail.html">Curriculum/Syllabus</a></li>
                    <li><a href="all-courses.html">Branches</a></li>
                    <li><a href="course-detail.html">What next / What After ?</a></li>
                    <li><a href="course-detail.html">Pros, Cons and Scope</a></li>
                    <li><a href="all-courses.html">Studying Pressure</a></li>
                    <li><a href="course-detail.html">Top Colleges offering the Course</a></li>
                </ul>
            </div>
        </aside>
        <!-- =========================Start Col left section ============================= --> 
        <section class="span9">
            <div class="col-right" style="padding: 30px 131px 15px 30px;">
                <div class="main-img">
                    <img  src="/static/assets/img/pic-2.jpg" alt="" class="img-responsive">
                    <p class="lead">At vide errem duo, vis luptatum menandri ullamcorper id duo, vis luptatum menandri ullamcorper id luptatum menandri ullamcorper</p>
                </div>
            </div>
        </section>

        <section class="span12">
            <div class="col-right para-header">
                <h3><span>About/Overview of the Course</span></h3>
                <p> Engineering is a broad discipine which involves the application of mathematics, empirical evidence and scientific, economic, social, and practical knowledge in order to invent, design, build, maintain, research, and improve, structures, machines, tools, systems, components, materials, and processes.
                    It envelopes a wide range of sub-disciplines, each with a more specific emphasis on particular areas of applied science, technology and types of application. </p>
                <h3><span>Eligibility / Who can join?</span></h3>
                <div class="row"> 
                    <span class="span5">
                        <div class="box-style-2 red">
                            <a href="" title="Plan a visit">
                                <img src="/static/assets/img/icon-home-visit.png" alt="">
                                <h4>10 + 2</h4>
                                <p>
                                    Above 45% Marks
                                </p>
                            </a>
                        </div>
                    </span>
                    <span class="span5">
                        <div class="box-style-2 green">
                            <a href="" title="Plan a visit">
                                <img src="/static/assets/img/icon-home-apply.png" alt="">
                                <h4>Science</h4>
                                <p>
                                    Stream in 10 + 2
                                </p>
                            </a>
                        </div>
                    </span>
                </div>
                <h3><span>Curriculum/Syllabus</span></h3>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>

                <h3><span>Branches</span></h3>
                <p> Here are the branches of Engineering</p>
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <table class="table table-striped table-bordered table-condensed table-list">
                        <tbody>
                            <tr>
                                <td>Information Technology</td>
                                <td>Electronics & Computer Engineering</td>
                            </tr>
                            <tr>
                                <td>Electronics & Instrumentation Engineering</td>
                                <td>Avionics Engineering</td>
                            </tr>
                            <tr>
                                <td>Chemical Engineering</td>
                                <td>Printing & Packaging Technology</td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div class="row">
                    <span class="span3">
                        <ul class=" list_3">
                            <li><a href="#">Information Technology</a></li>
                            <li><a href="#">Electronics & Computer Engineering</a></li>
                            <li><a href="#">Chemical Engineering</a></li>
                            <li><a href="#">Donec id elit non mi porta</a></li>
                        </ul>
                    </span>
                    <span class="span3">
                        <ul class=" list_3">
                            <li><a href="#">Electronics & Instrumentation Engineering</a></li>
                            <li><a href="#">Avionics Engineering</a></li>
                            <li><a href="#">Printing & Packaging Technology</a></li>
                            <li><a href="#">Donec id elit non mi porta</a></li>
                        </ul>
                    </span>
                    <span class="span3">
                        <ul class=" list_3">
                            <li><a href="#">Aeronautical Engineering</a></li>
                            <li><a href="#">Bio Technology</a></li>
                            <li><a href="#">Automobile Engineering</a></li>
                            <li><a href="#">Donec id elit non mi porta</a></li>
                        </ul>
                    </span>
                    <span class="span2">
                        <ul class=" list_3">
                            <li><a href="#">Aeronautical Engineering</a></li>
                            <li><a href="#">Bio Technology</a></li>
                            <li><a href="#">Automobile Engineering</a></li>
                            <li><a href="#">Donec id elit non mi porta</a></li>
                        </ul>
                    </span>
                </div>

                <h3><span>What next / What After ?</span></h3>
                <div class="news-strip">
                    <ul>
                        <li>
                            <div class="avatar"><a href="#"><img width="90px;" src="https://www.collegesearch.in/upload/career/151004100934_150918034409_Software-engineer.jpg" alt="" class="img-circle"></a></div>
                            <div class="comment_right clearfix">
                                <div class="comment_info">Software<span>|</span>Starting Salary <a href><b>2L</b></a></div>
                                <p>
                                    Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante.
                                </p>
                            </div>
                        </li>
                        <li>
                            <div class="avatar"><a href="#"><img width="90px;" src="https://www.collegesearch.in/upload/career/150923043028_Astronaut.jpg" alt="" class="img-circle"></a></div>
                            <div class="comment_right clearfix">
                                <div class="comment_info">Astronaut<span>|</span>Starting Salary <a href><b>2L</b></a></div>
                                <p>
                                    Nam cursus tellus quis magna porta adipiscing. Donec et eros leo, non pellentesque arcu. Curabitur vitae mi enim, at vestibulum magna. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed sit amet sem a urna rutrumeger fringilla. Nam vel enim ipsum, et congue ante.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>

                <h3><span>Pros, Cons and Scope</span></h3>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>
                <h3><span>Studying Pressure</span></h3>
                <p> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. </p>

                <h3><span>Top Colleges offering the Course</span></h3>
                <p>2749 Popular colleges that offer programs in Engineering:</p>

                <data-owl-carousel class="owl-carousel" data-options="{navigation: false, pagination: true, rewindNav : false}">
                    <div owl-carousel-item="" ng-repeat="item in ::items2" class="item">
                        <div class="col-xs-6 col-md-3">
                            <a ng-href="item.link" class="thumbnail">
                                <img src="{{item.img_path}}" alt="...">
                            </a>
                        </div>
                        <p>{{item.name}}</p>
                    </div>
                </data-owl-carousel>

            </div>
        </section>

    </div>
</div> <!-- end container-->

