<div ng-include="'/static/sections/view/header.html'"></div>

<div class="container">
    <div class="row">
        <h1 class="span12">Courses & Colleges</h1>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="#/home">Home</a><span class="divider">/</span></li>
                <li class="active">Courses & Colleges</li>
            </ul>
        </div>
        <!-- =========================Start Col left section ============================= -->   
        <section class="span6">
            <div class="col-left">
                <h4>Courses</h4>
                <p>
                    Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, faucibus mi ante vel augue.
                </p>
                <a href="#/services/courses-&-colleges/courses" class="button_red_small">Explore</a>
            </div>
        </section>

        <!-- =========================Start Col right section ============================= --> 
        <section class="span6">
            <div class="col-right">
                <h4>Colleges</h4>
                <p>
                    Suspendisse quis risus turpis, ut pharetra arcu. Donec adipiscing, faucibus mi ante vel augue.
                </p>
                <a href="#/services/courses-&-colleges/colleges-list" class="button_red_small">Explore</a>
            </div>
        </section>
    </div><!-- end row-->
</div> <!-- end container-->



