<div ng-include="'/static/sections/view/header.html'"></div>

<div class="container margin-top-30px" ng-controller="scholarshipsDetailCrt">
    <div class="row">
        <h2 class="span12">Scholarships</h2>
        <div class="span12">
            <ul class="breadcrumb">
                <li><a href="#/home">Home</a> <span class="divider">/</span></li>
                <li><a href="#/services/scholarships-list">Scholarships List</a><span class="divider">/</span></li>
                <li class="active">{{param_name}}</li>
                <li class="pull-right  hidden-phone">
                    <a href="" data-ng-hide="editMode" data-ng-click="editMode = true; editItem(dataDetail)" class="button_red_small">
                        <span class="icon-edit"></span>Edit
                    </a>
                    <a href="" data-ng-show="editMode" data-ng-click="editMode = false; doneEditing(dataDetail)" class="button_red_small">
                        <span class="icon-save"></span>Save
                    </a>
                    <a href="" data-ng-show="editMode" data-ng-click="editMode = false; cancelEditing(dataDetail)" class="button_red_small">
                        <span class="icon-remove"></span>Cancel
                    </a>
                </li>
            </ul>
        </div>

        <section class="span12">
            <div class="col-right" style="background-color: transparent; border: none; margin-bottom: 0px;">
                <div class="main-img">

                    <div class="imageContainerSchool">
                        <p class="lead hidden-phone" style="bottom: 15%; min-width: 30%;" >
                            <img alt="" style="width: 50px; height: 50px;" 
                                 src="{{dataDetail.logo}}" >
                            {{dataDetail.foundation_name}}
                        </p>
                        <!-- mobile view -->
                        <p class="lead hidden-desktop hidden-tablet" style="bottom: -5%; min-width: 30%;" >
                            <img alt="" style="width: 50px; height: 50px;" 
                                 src="{{dataDetail.logo}}" >
                            {{dataDetail.foundation_name}}
                        </p>
                        <div class="widget tags pull-right">
                            <a href="">Deadline: {{dataDetail.deadline_date}}</a>
                            <a href="">Amount: {{dataDetail.amount}}</a>
                            <a href=""><span class="icon-h-sign"></span> Apply Now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="span9">
            <!--            <div>
                            <div class="col-right para-header margin-bot-10px">
                                <h3><span>About </span></h3>
                                <div data-ng-hide="editMode">
                                    <p>
                                        {{dataDetail.about}}
                                    </p>
                                </div>
                                <div data-ng-show="editMode" >
                                    <textarea ui-tinymce="tinymceOptions" ng-model="dataDetail.about"></textarea>
                                </div>
                            </div>
                        </div>-->

            <div>
                <div class="col-right para-header margin-bot-10px">
                    <h3><span>Eligibility </span></h3>
                    <div class="row">
                        <div class="span9">
                            <div data-ng-hide="editMode" dynamic="dataDetail.eligibility"></div>
                        </div>
                    </div>
                    <div data-ng-show="editMode" >
                        <textarea ui-tinymce="tinymceOptions" ng-model="dataDetail.eligibility"></textarea>
                    </div>
                </div>
            </div>

            <div>
                <div class="col-right para-header margin-bot-10px">
                    <h3><span>Deadline Details </span></h3>
                    <div class="row">
                        <div class="span9">
                            <div data-ng-hide="editMode" dynamic="dataDetail.deadline_details"></div>
                        </div>
                    </div>
                    <div data-ng-show="editMode" >
                        <textarea ui-tinymce="tinymceOptions" ng-model="dataDetail.deadline_details"></textarea>
                    </div>
                </div>
            </div>


            <div>
                <div class="col-right para-header margin-bot-10px">
                    <h3><span>Amount Details </span></h3>
                    <div class="row">
                        <div class="span9">
                            <div data-ng-hide="editMode" dynamic="dataDetail.amount_details"></div>
                        </div>
                    </div>
                    <div data-ng-show="editMode" >
                        <textarea ui-tinymce="tinymceOptions" ng-model="dataDetail.amount_details"></textarea>
                    </div>
                </div>
            </div>


            <div>
                <div class="col-right para-header margin-bot-10px">
                    <h3><span>Procedure </span></h3>
                    <div class="row">
                        <div class="span9">
                            <div data-ng-hide="editMode" dynamic="dataDetail.procedure"></div>
                        </div>
                    </div>
                    <div data-ng-show="editMode" >
                        <textarea ui-tinymce="tinymceOptions" ng-model="dataDetail.procedure"></textarea>
                    </div>
                </div>
            </div>

            <div>
                <div class="col-right para-header margin-bot-10px">
                    <h3><span>Contact</span></h3>
                    <b>Address :</b> <div data-ng-hide="editMode" dynamic="dataDetail.address"></div></br>
                    <div data-ng-show="editMode" >
                        <input class="input-large inputfield" type="text" data-ng-model="dataDetail.address" />
                    </div>
                    <b>City :</b> <span data-ng-hide="editMode" dynamic="dataDetail.city"></span></br>
                    <div data-ng-show="editMode" >
                        <input class="input-large inputfield" type="text" data-ng-model="dataDetail.city" />
                    </div>
                    <b>state :</b> <span data-ng-hide="editMode" dynamic="dataDetail.state"></span></br>
                    <div data-ng-show="editMode" >
                        <input class="input-large inputfield" type="text" data-ng-model="dataDetail.state" />
                    </div>
                    <b>Pin Code :</b> <span data-ng-hide="editMode" dynamic="dataDetail.pincode"></span></br>
                    <div data-ng-show="editMode" >
                        <input class="input-large inputfield" type="text" data-ng-model="dataDetail.pincode" />
                    </div>
                    <!--                    <b>Country :</b> <span data-ng-hide="editMode" dynamic="dataDetail.country"></span></br>
                                        <div data-ng-show="editMode" >
                                            <input class="input-large inputfield" type="text" data-ng-model="dataDetail.country" />
                                        </div>-->

                    <b>Phone :</b> <span data-ng-hide="editMode" dynamic="dataDetail.phone"></span></br>
                    <div data-ng-show="editMode" >
                        <input class="input-large inputfield" type="text" data-ng-model="dataDetail.phone" />
                    </div>
                    <b>Mobile :</b> <span data-ng-hide="editMode" dynamic="dataDetail.mobile"></span></br>
                    <div data-ng-show="editMode" >
                        <input class="input-large inputfield" type="text" data-ng-model="dataDetail.mobile" />
                    </div>
                    <b>Fax :</b> <span data-ng-hide="editMode" dynamic="dataDetail.fax"></span></br>
                    <div data-ng-show="editMode" >
                        <input class="input-large inputfield" type="text" data-ng-model="dataDetail.fax" />
                    </div>
                    <b>Email :</b> <span data-ng-hide="editMode" dynamic="dataDetail.email"></span></br>
                    <div data-ng-show="editMode" >
                        <input class="input-large inputfield" type="text" data-ng-model="dataDetail.email" />
                    </div>
                    <!--                    <b>Website :</b> <span data-ng-hide="editMode" dynamic="dataDetail.website"></span></br>
                                        <div data-ng-show="editMode" >
                                            <input class="input-large inputfield" type="text" data-ng-model="dataDetail.website" />
                                        </div>-->

                </div>
            </div>



        </section>

        <section class="span3 hidden-phone" >
            <div class="col-right para-header margin-bot-10px">
                <table class="table table-bordered">
                    <tr>
                        <td><a href="">About</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Eligibility</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Deadline Details</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Amount Details</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Procedure</a></td>
                    </tr>
                    <tr>
                        <td><a href="">Contact</a></td>
                    </tr>
                    <tr>
                        <td>
                            <div class="btn-group" role="group" aria-label="...">
                                <button type="button" class="btn btn-primary">Apply Now</button>
                                <button type="button" class="btn btn-default">Save for Later</button>
                            </div>
                        </td>
                    </tr>
                </table>
            </div>
        </section>

    </div>
</div> <!-- end container-->